a {
    text-decoration: none;
    text-align:center;
    color:#f2f2f2;
    padding: 10px;
}
li {
    background: #5c5c8a;
    border-radius:5px;

    text-align:center;
}
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

html, body {
    height: 99%;
    font-family: 'Playfair Display', serif;
}

header#top, footer#footer {
    border: 1px solid gray;
    text-align: center;
    background-color: #4e6daa;
    clear: both;
}

nav#menu {
    height: 70%;
    float: left;
    border: 1px solid gray;
    background-color:  #b3b3ff;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    padding: 1em;
}

article#content {
    height: 70%;
    border: 1px solid gray;
    text-align: justify;
    padding: 1em;
    overflow: hidden;
    background-color: #cedaed;
}

p {
    text-align: center;
}

#mapa_i {
    height: 70%;
    width: 70%;
    border: 1px solid grey;
}
